*.swp
*.o
/netcanftd
/.deps
/Makefile.in
/aclocal.m4
/autom4te.cache/*
/cftd
/config.h
/config.h.in
/config.log
/config.status
/configure
/debian/DEBIAN/control
/depcomp
/install-sh
/missing
/stamp-h1
